<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.demo.mapping.OrderMapper">
    <resultMap type="com.alex.demo.dto.OrderDto" id="OrderDto">
        <result column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount" />
        <result column="remark" property="remark" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="state" property="state" />
    </resultMap>

    <select id="queryOrderByUserId" resultType="OrderDto" parameterType="hashmap">
        SELECT
               id,
               order_sn,
               user_id,
               amount,
               remark,
               created_at,
               updated_at,
               state
        FROM t_order
        WHERE
              user_id = #{user_id}
    </select>

    <insert id="insertOrder" parameterType="com.alex.demo.dto.OrderDto" keyColumn="id" keyProperty="id">
        INSERT INTO t_order (order_sn,user_id,amount,remark,created_at,updated_at,state)
        VALUES(
           #{orderSn}
           , #{userId}
           , #{amount}
           , #{remark}
           , #{createdAt}
           , #{updatedAt}
           , 1
        )
    </insert>

    <insert id="insertOrderBatch" parameterType="com.alex.demo.dto.OrderDto">
        INSERT INTO t_order (order_sn,user_id,amount,remark,created_at,updated_at,state)
        VALUES
        <foreach collection="list" item="item" separator=",">
            #{item.orderSn}
            , #{item.userId}
            , #{item.amount}
            , #{item.remark}
            , #{item.createdAt}
            , #{item.updatedAt}
            , 1
        </foreach>
    </insert>

</mapper>